#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# HITL configuration
# connect to it with jMAVSim:
# ./Tools/simulation/jmavsim/jmavsim_run.sh -u -p 14577 -q -r 250

# After building PX4, run `cd build/emlid_navio2_default` and then
# copy bin/ and etc/ directories to the RPi. At the same time,
# copy this file to the RPi as well.
# Then we can run px4 with:
#   ./bin/px4 -s px4_hil.config

param select parameters.bson
param import

param set CBRK_SUPPLY_CHK 894281
param set SYS_AUTOSTART 1001
param set MAV_TYPE 2
set AIRFRAME 1001_rc_quad_x.hil
echo "Loading airframe: ${R}/etc/init.d/airframes/${AIRFRAME}"
. ${R}/etc/init.d/airframes/${AIRFRAME}
param set SYS_AUTOSTART 0
unset AIRFRAME

# Multi-EKF
param set EKF2_MULTI_IMU 1
param set SENS_IMU_MODE 1

dataman start

load_mon start

rc_update start
sensors start -h
commander start -h
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start

mavlink start -x -u 14550 -r 1000000 -p -o 14577 # for simulator
mavlink start -x -u 14551 -r 1000000 -p -o 14552 # for ground station

navio_sysfs_rc_in start
pwm_out_sim start -m hil
control_allocator start

logger start -t -b 200

mavlink boot_complete
